#franchise {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    
}

textarea {
    width: 100%;
}

 .input {
     padding-left: 400px;
     margin-top: 40px;
 }
.input1 {
    background: #514134;
    width: 200px;
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 40px;
    border-radius: 30px 30px 30px 30px;
    
}
.input2 {
    color: #514134;
    width: 200px;
    background: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 30px 30px 30px 30px;
}
 

  ul{
      padding-left: 20px;
  }
  h2 {
      padding-left: 20px;
  }
  p {
      padding-left: 20px;
  }
  h3 {
      padding-left: 20px;
      padding-top: 30px;
  }